@tailwind base;
@tailwind components;
@tailwind utilities;

.winner-bar {
  animation: grow 2s forwards;
  animation-delay: 2s;
}

.winner-profile-img-cover {
  animation: fade-out 2s forwards;
  animation-delay: 2s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes grow {
  0% {
    height: var(--initial-height);
  }

  100% {
    height: var(--final-height);
  }
}
